body {
    margin: auto auto;
    padding: 0;
}

.container {
	font-family: 'Nunito';
	font-size: 110%;
}

.jumbotron {
	background-image: url(https://www.surrey.ac.uk/sites/default/files/styles/banner_image_1500x330/public/2018-02/research-top-banner.jpg?itok=I_BQuH42);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'Nunito';
	margin: 3.5% 0 0 0;
}

#jumbotron{
	color: white;
	text-align: center;

}

.first {
	font-size: 150%;
	margin: 2% 10%;
}

#firstcon {
	margin: 0 0 0 0;
	padding-top: 0px; 
}

.navbar-inverse :hover{
		background-color: #062D5B;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	background-color: #062D5B;
}

.navbar-inverse .navbar-brand{
	background-color: #062D5B;
	color: #062D5B;
}

.navbar-inverse .navbar-nav>li>a {
	background-color: #062D5B;
	color:blue;
}


.nav navbar-nav{
	background-color: #062D5B;
}

.navbar.navbar-inverse.navbar-fixed-top .navbar-nav>li>a:hover {
    color: #B51515;
}

.navbar.navbar-inverse.navbar-fixed-top .navbar-nav>li>a {
	color: white;
}