

.container {
	font-family: 'Nunito';
	font-size: 110%;
}

.jumbotron {
	background: url(https://www.surrey.ac.uk/sites/default/files/styles/banner_image_1500x330/public/2018-02/research-top-banner.jpg?itok=I_BQuH42);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'Nunito';
	margin: 0px 0px;
}

#jumbotron{
	color: white;

}

.first {
	font-size: 150%;
	margin: 2% 10%;
}

.navbar-j{
	margin:0;
}

