body{
	background-image: url(https://images.unsplash.com/photo-1506921054449-27ba9b9264b3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d71091e6bb5bfff2b5c918da467d88ee&auto=format&fit=crop&w=1950&q=80);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	font-family: Nunito;
	font-size: 400;
	margin-bottom: 10%;
}

.container#firstCon {
	margin-top: 9%;
}

hr{
    margin: 10px 57% 1% auto;
}

#openning{
	font-size: 130%;
	color: black;
}

.well {
	opacity: 0.8;
}

.main {
	margin-top: 35%;
	font-size: 130%
}

#image{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}